In [ ]:
%config Completer.use_jedi = False

In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (3.8.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: click in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.4)

WARNING: You are using pip version 21.2.4; however, version 23.1 is available.
You should consider upgrading via the 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [ ]:
#helps in preprocessing
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#helps in cleaning of text data
import nltk
import regex as re

from nltk import tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer


import warnings

In [ ]:
df = pd.read_csv('tweets.csv')

In [23]:
df

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0
...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,Media should have warned us well in advance. T...,0
11366,11366,wrecked,arohaonces,i feel directly attacked 💀 i consider moonbin ...,0
11367,11367,wrecked,🇵🇭,i feel directly attacked 💀 i consider moonbin ...,0
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? T...",0
11369,11369,wrecked,NaN,Jake Corway wrecked while running 14th at IRP.,1

In [4]:
#drop attribute yang tidak penting
df.drop(columns=['keyword','location'],axis=1,inplace=True)

In [ ]:
df

          id                                               text  target
0          0  Communal violence in Bhainsa, Telangana. "Ston...       1
1          1  Telangana: Section 144 has been imposed in Bha...       1
2          2  Arsonist sets cars ablaze at dealership https:...       1
3          3  Arsonist sets cars ablaze at dealership https:...       1
4          4  "Lord Jesus, your love brings freedom and pard...       0
...      ...                                                ...     ...
11365  11365  Media should have warned us well in advance. T...       0
11366  11366  i feel directly attacked 💀 i consider moonbin ...       0
11367  11367  i feel directly attacked 💀 i consider moonbin ...       0
11368  11368  ok who remember "outcast" nd the "dora" au?? T...       0
11369  11369     Jake Corway wrecked while running 14th at IRP.       1

[11370 rows x 3 columns]

In [ ]:
df['text']

0        Communal violence in Bhainsa, Telangana. "Ston...
1        Telangana: Section 144 has been imposed in Bha...
2        Arsonist sets cars ablaze at dealership https:...
3        Arsonist sets cars ablaze at dealership https:...
4        "Lord Jesus, your love brings freedom and pard...
                               ...
11365    Media should have warned us well in advance. T...
11366    i feel directly attacked 💀 i consider moonbin ...
11367    i feel directly attacked 💀 i consider moonbin ...
11368    ok who remember "outcast" nd the "dora" au?? T...
11369       Jake Corway wrecked while running 14th at IRP.
Name: text, Length: 11370, dtype: object

In [ ]:
df['target'].value_counts()

0    9256
1    2114
Name: target, dtype: int64

In [3]:
#menghapus duplicate text
df = df.drop_duplicates(subset=['text'])
df.loc[11367, 'text']

'i feel directly attacked 💀 i consider moonbin &amp; jinjin as my bias and im currently wrecked by rocky i hate this https://t.co/psLBecS7hI'

In [4]:
#menghapus emoji

import regex as re

emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)

df['text'] = df['text'].apply(lambda x: emoji_pattern.sub(r'', x))

In [8]:
df['text']

0        Communal violence in Bhainsa, Telangana. "Ston...
1        Telangana: Section 144 has been imposed in Bha...
2        Arsonist sets cars ablaze at dealership https:...
3        Arsonist sets cars ablaze at dealership https:...
4        "Lord Jesus, your love brings freedom and pard...
                               ...
11365    Media should have warned us well in advance. T...
11366    i feel directly attacked  i consider moonbin &...
11367    i feel directly attacked  i consider moonbin &...
11368    ok who remember "outcast" nd the "dora" au?? T...
11369       Jake Corway wrecked while running 14th at IRP.
Name: text, Length: 11223, dtype: object

In [9]:
df.loc[11367, 'text']

'i feel directly attacked  i consider moonbin &amp; jinjin as my bias and im currently wrecked by rocky i hate this https://t.co/psLBecS7hI'

In [5]:
#Menyamaratakan Huruf kapital menjadi huruf kecil
df['text'] = df['text'].str.lower()
df

,id,keyword,location,text,target
0,0,ablaze,NaN,"communal violence in bhainsa, telangana. ""ston...",1
1,1,ablaze,NaN,telangana: section 144 has been imposed in bha...,1
2,2,ablaze,New York City,arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""lord jesus, your love brings freedom and pard...",0
...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,media should have warned us well in advance. t...,0
11366,11366,wrecked,arohaonces,i feel directly attacked i consider moonbin &...,0
11367,11367,wrecked,🇵🇭,i feel directly attacked i consider moonbin &...,0
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? t...",0
11369,11369,wrecked,NaN,jake corway wrecked while running 14th at irp.,1

In [6]:
#menghilangan angka dalam text
df['text'] = df['text'].str.replace('\d+', '')
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6472\607194416.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\d+', '')

,id,keyword,location,text,target
0,0,ablaze,NaN,"communal violence in bhainsa, telangana. ""ston...",1
1,1,ablaze,NaN,telangana: section has been imposed in bhains...,1
2,2,ablaze,New York City,arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""lord jesus, your love brings freedom and pard...",0
...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,media should have warned us well in advance. t...,0
11366,11366,wrecked,arohaonces,i feel directly attacked i consider moonbin &...,0
11367,11367,wrecked,🇵🇭,i feel directly attacked i consider moonbin &...,0
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? t...",0
11369,11369,wrecked,NaN,jake corway wrecked while running th at irp.,1

In [7]:
#menghilangkan special chratcter seperti #,$,@,!, dll

import string

df['text'] = df['text'].str.replace('[{}]'.format(string.punctuation), '')
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6472\2398666296.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[{}]'.format(string.punctuation), '')

,id,keyword,location,text,target
0,0,ablaze,NaN,communal violence in bhainsa telangana stones ...,1
1,1,ablaze,NaN,telangana section has been imposed in bhainsa...,1
2,2,ablaze,New York City,arsonist sets cars ablaze at dealership httpst...,1
3,3,ablaze,"Morgantown, WV",arsonist sets cars ablaze at dealership httpst...,1
4,4,ablaze,NaN,lord jesus your love brings freedom and pardon...,0
...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,media should have warned us well in advance th...,0
11366,11366,wrecked,arohaonces,i feel directly attacked i consider moonbin a...,0
11367,11367,wrecked,🇵🇭,i feel directly attacked i consider moonbin a...,0
11368,11368,wrecked,auroraborealis,ok who remember outcast nd the dora au those a...,0
11369,11369,wrecked,NaN,jake corway wrecked while running th at irp,1

In [8]:
nltk.download('stopwords')

from nltk.corpus import stopwords

# Define the stopword list
stop_words = set(stopwords.words('english'))

# Define a function to remove stopwords from a string
def remove_stopwords(text):
    filtered_text = ' '.join([word for word in text.split() if word.lower() not in stop_words])
    return filtered_text

# Apply the remove_stopwords function to the text in each row
df['text'].apply(remove_stopwords)
df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,id,keyword,location,text,target
0,0,ablaze,NaN,communal violence in bhainsa telangana stones ...,1
1,1,ablaze,NaN,telangana section has been imposed in bhainsa...,1
2,2,ablaze,New York City,arsonist sets cars ablaze at dealership httpst...,1
3,3,ablaze,"Morgantown, WV",arsonist sets cars ablaze at dealership httpst...,1
4,4,ablaze,NaN,lord jesus your love brings freedom and pardon...,0
...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,media should have warned us well in advance th...,0
11366,11366,wrecked,arohaonces,i feel directly attacked i consider moonbin a...,0
11367,11367,wrecked,🇵🇭,i feel directly attacked i consider moonbin a...,0
11368,11368,wrecked,auroraborealis,ok who remember outcast nd the dora au those a...,0
11369,11369,wrecked,NaN,jake corway wrecked while running th at irp,1

In [ ]:
pip install autocorrect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autocorrect
  Downloading autocorrect-2.6.1.tar.gz (622 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 622.8/622.8 KB 10.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: autocorrect
  Building wheel for autocorrect (setup.py) ... done
  Created wheel for autocorrect: filename=autocorrect-2.6.1-py3-none-any.whl size=622380 sha256=f270b0e469969648a81d28c736bc36de07dfc6a666fd569c50b08859da395dbb
  Stored in directory: /root/.cache/pip/wheels/ab/0f/23/3c010c3fd877b962146e7765f9e9b08026cac8b035094c5750
Successfully built autocorrect
Installing collected packages: autocorrect
Successfully installed autocorrect-2.6.1

In [ ]:
#mengkoreksi typo pada text dan membenahinya

from autocorrect import Speller
spell = Speller(lang='en')
df['text'] = df['text'].apply(lambda x: spell(x))
df

          id                                               text  target
0          0  communal violence in chains telangana stones w...       1
1          1  telangana section  has been imposed in chains ...       1
2          2  agonist sets cars ablaze at dealership httpstc...       1
3          3  agonist sets cars ablaze at dealership httpstc...       1
4          4  lord jesus your love brings freedom and pardon...       0
...      ...                                                ...     ...
11365  11365  media should have warned us well in advance th...       0
11366  11366  i feel directly attacked  i consider moonbin a...       0
11367  11367  i feel directly attacked  i consider moonbin a...       0
11368  11368  ok who remember outcast nd the dora au those a...       0
11369  11369        jake norway wrecked while running th at irp       1

[11370 rows x 3 columns]

In [9]:
import nltk

nltk.download('punkt')

def tokenize_text(text):
    return nltk.word_tokenize(text)

df['tokens'] = df['text'].apply(tokenize_text)

df

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,id,keyword,location,text,target,tokens
0,0,ablaze,NaN,communal violence in bhainsa telangana stones ...,1,"[communal, violence, in, bhainsa, telangana, s..."
1,1,ablaze,NaN,telangana section has been imposed in bhainsa...,1,"[telangana, section, has, been, imposed, in, b..."
2,2,ablaze,New York City,arsonist sets cars ablaze at dealership httpst...,1,"[arsonist, sets, cars, ablaze, at, dealership,..."
3,3,ablaze,"Morgantown, WV",arsonist sets cars ablaze at dealership httpst...,1,"[arsonist, sets, cars, ablaze, at, dealership,..."
4,4,ablaze,NaN,lord jesus your love brings freedom and pardon...,0,"[lord, jesus, your, love, brings, freedom, and..."
...,...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,media should have warned us well in advance th...,0,"[media, should, have, warned, us, well, in, ad..."
11366,11366,wrecked,arohaonces,i feel directly attacked i consider moonbin a...,0,"[i, feel, directly, attacked, i, consider, moo..."
11367,11367,wrecked,🇵🇭,i feel directly attacked i consider moonbin a...,0,"[i, feel, directly, attacked, i, consider, moo..."
11368,11368,wrecked,auroraborealis,ok who remember outcast nd the dora au those a...,0,"[ok, who, remember, outcast, nd, the, dora, au..."
11369,11369,wrecked,NaN,jake corway wrecked while running th at irp,1,"[jake, corway, wrecked, while, running, th, at..."

In [15]:
df.loc[1, 'text']

'telangana section  has been imposed in bhainsa from january  to  after clash erupted between two groups on january  po…'

In [16]:
df.loc[1, 'tokens']

['telangana',
 'section',
 'has',
 'been',
 'imposed',
 'in',
 'bhainsa',
 'from',
 'january',
 'to',
 'after',
 'clash',
 'erupted',
 'between',
 'two',
 'groups',
 'on',
 'january',
 'po…']

In [10]:
dataset = df['tokens'].head(10)
dataset

0    [communal, violence, in, bhainsa, telangana, s...
1    [telangana, section, has, been, imposed, in, b...
2    [arsonist, sets, cars, ablaze, at, dealership,...
3    [arsonist, sets, cars, ablaze, at, dealership,...
4    [lord, jesus, your, love, brings, freedom, and...
5    [if, this, child, was, chinese, this, tweet, w...
6    [several, houses, have, been, set, ablaze, in,...
7    [asansol, a, bjp, office, in, salanpur, villag...
8    [national, security, minister, kan, dapaahs, s...
9    [this, creature, who, ’, s, soul, is, no, long...
Name: tokens, dtype: object

In [11]:
dataset = dataset.values.tolist()
dataset

[['communal',
  'violence',
  'in',
  'bhainsa',
  'telangana',
  'stones',
  'were',
  'pelted',
  'on',
  'muslims',
  'houses',
  'and',
  'some',
  'houses',
  'and',
  'vehicles',
  'were',
  'set',
  'ablaze…'],
 ['telangana',
  'section',
  'has',
  'been',
  'imposed',
  'in',
  'bhainsa',
  'from',
  'january',
  'to',
  'after',
  'clash',
  'erupted',
  'between',
  'two',
  'groups',
  'on',
  'january',
  'po…'],
 ['arsonist',
  'sets',
  'cars',
  'ablaze',
  'at',
  'dealership',
  'httpstcogoqvyjbpvi'],
 ['arsonist',
  'sets',
  'cars',
  'ablaze',
  'at',
  'dealership',
  'httpstcoglnucplb',
  'httpstcouccbhowh'],
 ['lord',
  'jesus',
  'your',
  'love',
  'brings',
  'freedom',
  'and',
  'pardon',
  'fill',
  'me',
  'with',
  'your',
  'holy',
  'spirit',
  'and',
  'set',
  'my',
  'heart',
  'ablaze',
  'with',
  'your',
  'l…',
  'httpstcovltznnpni'],
 ['if',
  'this',
  'child',
  'was',
  'chinese',
  'this',
  'tweet',
  'would',
  'have',
  'gone',
  'viral',
  'social',
  'media',
  'would',
  'be',
  'ablaze',
  'snl',
  'would',
  'have',
  'made',
  'a',
  'racist',
  'j…'],
 ['several',
  'houses',
  'have',
  'been',
  'set',
  'ablaze',
  'in',
  'ngemsibaa',
  'village',
  'oku',
  'sub',
  'division',
  'in',
  'the',
  'north',
  'west',
  'region',
  'of',
  'cameroon',
  'by…',
  'httpstcouhgazxy'],
 ['asansol',
  'a',
  'bjp',
  'office',
  'in',
  'salanpur',
  'village',
  'was',
  'set',
  'ablaze',
  'last',
  'night',
  'bjp',
  'has',
  'alleged',
  'that',
  'tmc',
  'is',
  'behind',
  'the',
  'incident',
  'police',
  'has',
  'b…'],
 ['national',
  'security',
  'minister',
  'kan',
  'dapaahs',
  'side',
  'chic',
  'has',
  'set',
  'the',
  'internet',
  'ablaze',
  'with',
  'her',
  'latest',
  'powerful',
  'video…',
  'httpstcorhzomqvslj'],
 ['this',
  'creature',
  'who',
  '’',
  's',
  'soul',
  'is',
  'no',
  'longer',
  'clarent',
  'but',
  'blue',
  'ablaze',
  'this',
  'thing',
  'carrying',
  'memories',
  'memories',
  'of…',
  'httpstcotbksndrdox']]

In [13]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (0.22.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.8.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (58.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.39.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.7)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.1.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 23.1 is available.
You should consider upgrading via the 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [12]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
data = pd.DataFrame(te_ary, columns=te.columns_)
data

,a,ablaze,ablaze…,after,alleged,and,arsonist,asansol,at,be,...,violence,viral,was,were,west,who,with,would,your,’
0,False,False,True,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
5,True,True,False,False,False,False,False,False,False,True,...,False,True,True,False,False,False,False,True,False,False
6,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
7,True,True,False,False,True,False,False,True,False,False,...,False,False,True,False,False,False,False,False,False,False
8,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [13]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets_fp = fpgrowth(data, min_support=0.2, use_colnames=True)
frequent_itemsets_fp

     support                         itemsets
0        0.5                            (set)
1        0.4                             (in)
2        0.2                            (and)
3        0.2                        (bhainsa)
4        0.2                         (houses)
..       ...                              ...
135      0.2       (in, village, the, ablaze)
136      0.2      (village, set, the, ablaze)
137      0.2       (in, village, set, ablaze)
138      0.2  (in, set, the, ablaze, village)
139      0.2                     (is, ablaze)

[140 rows x 2 columns]

In [14]:
from mlxtend.frequent_patterns import association_rules
rules_fp = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.2)
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(set),(ablaze),0.5,0.8,0.4,0.800000,1.000000,0.00,1.000000,0.000000
1,(ablaze),(set),0.8,0.5,0.4,0.500000,1.000000,0.00,1.000000,0.000000
2,(in),(set),0.4,0.5,0.3,0.750000,1.500000,0.10,2.000000,0.555556
3,(set),(in),0.5,0.4,0.3,0.600000,1.500000,0.10,1.500000,0.666667
4,(in),(ablaze),0.4,0.8,0.2,0.500000,0.625000,-0.12,0.400000,-0.500000
...,...,...,...,...,...,...,...,...,...,...
909,(the),"(in, village, set, ablaze)",0.3,0.2,0.2,0.666667,3.333333,0.14,2.400000,1.000000
910,(ablaze),"(in, village, set, the)",0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667,1.000000
911,(village),"(in, set, the, ablaze)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf,1.000000
912,(is),(ablaze),0.2,0.8,0.2,1.000000,1.250000,0.04,inf,0.250000
913,(ablaze),(is),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667,1.000000

In [50]:
dataset

/usr/local/lib/python3.9/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

[['communal',
  'violence',
  'in',
  'bhainsa',
  'telangana',
  'stones',
  'were',
  'pelted',
  'on',
  'muslims',
  'houses',
  'and',
  'some',
  'houses',
  'and',
  'vehicles',
  'were',
  'set',
  'ablaze…'],
 ['telangana',
  'section',
  'has',
  'been',
  'imposed',
  'in',
  'bhainsa',
  'from',
  'january',
  'to',
  'after',
  'clash',
  'erupted',
  'between',
  'two',
  'groups',
  'on',
  'january',
  'po…'],
 ['arsonist',
  'sets',
  'cars',
  'ablaze',
  'at',
  'dealership',
  'httpstcogoqvyjbpvi'],
 ['arsonist',
  'sets',
  'cars',
  'ablaze',
  'at',
  'dealership',
  'httpstcoglnucplb',
  'httpstcouccbhowh'],
 ['lord',
  'jesus',
  'your',
  'love',
  'brings',
  'freedom',
  'and',
  'pardon',
  'fill',
  'me',
  'with',
  'your',
  'holy',
  'spirit',
  'and',
  'set',
  'my',
  'heart',
  'ablaze',
  'with',
  'your',
  'l…',
  'httpstcovltznnpni'],
 ['if',
  'this',
  'child',
  'was',
  'chinese',
  'this',
  'tweet',
  'would',
  'have',
  'gone',
  'viral',
  'social',
  'media',
  'would',
  'be',
  'ablaze',
  'snl',
  'would',
  'have',
  'made',
  'a',
  'racist',
  'j…'],
 ['several',
  'houses',
  'have',
  'been',
  'set',
  'ablaze',
  'in',
  'ngemsibaa',
  'village',
  'oku',
  'sub',
  'division',
  'in',
  'the',
  'north',
  'west',
  'region',
  'of',
  'cameroon',
  'by…',
  'httpstcouhgazxy'],
 ['asansol',
  'a',
  'bjp',
  'office',
  'in',
  'salanpur',
  'village',
  'was',
  'set',
  'ablaze',
  'last',
  'night',
  'bjp',
  'has',
  'alleged',
  'that',
  'tmc',
  'is',
  'behind',
  'the',
  'incident',
  'police',
  'has',
  'b…'],
 ['national',
  'security',
  'minister',
  'kan',
  'dapaahs',
  'side',
  'chic',
  'has',
  'set',
  'the',
  'internet',
  'ablaze',
  'with',
  'her',
  'latest',
  'powerful',
  'video…',
  'httpstcorhzomqvslj'],
 ['this',
  'creature',
  'who',
  '’',
  's',
  'soul',
  'is',
  'no',
  'longer',
  'clarent',
  'but',
  'blue',
  'ablaze',
  'this',
  'thing',
  'carrying',
  'memories',
  'memories',
  'of…',
  'httpstcotbksndrdox']]